@media only screen and (max-width: ($medium-size - 1)) { // small screens
	.splash-container {
		.splash-content {
			padding-top: 1em;
		}
	}
	.portfolio-container {
		article {
			padding-left: 20px;
			padding-right: 20px;
			p { padding: 15px 0; }
		}
		figure {
			.caption { display: none; }
		}
	}
}