// Screen Sizes
// ==============================================

$xlarge-size: 1200px;
$large-size: 960px;
$medium-size: 768px;
$small-size: 440px;
$xsmall-size: 320px;

// Screen Sizes
// ==============================================

$default-text-color: #fff;
$primary-color-purple: #2a333b;
$primary-color-red: #e14236;
$primary-color-green: #86941c;