<div class="info-box">
	<div class="social-icon">
		<a href="http://facebook.com/tnbeatty">
			<img src="/assets/images/social media/wooden/facebook.png" />
		</a>
	</div>
	<div class="social-icon">
		<a href="http://twitter.com/tnbeatty">
			<img src="/assets/images/social media/wooden/twitter.png" />
		</a>
	</div>
	<div class="social-icon">
		<a href="mailto:nate@strabogis.com">
			<img src="/assets/images/social media/wooden/at.png" />
		</a>
	</div>
	<div class="social-icon">
		<a href="/feed.xml">
			<img src="/assets/images/social media/wooden/rss.png" />
		</a>
	</div>
</div>