<div class="splash-container">

	<div class="background-unloaded"></div>

	<div class="splash-content">

		<header class="header">
			<h1 class="title">Nate Beatty</h1>
			<h2 class="title">Physics geek and software developer in Middlebury, VT</h2>
			<ul class="social-media">
				<li><a href="https://www.facebook.com/tnbeatty"><img src="img/icons/facebook.png" /></a></li>
				<li><a href="https://twitter.com/tnbeatty"><img src="img/icons/twitter.png" /></a></li>
				<li><a href="http://instagram.com/tnbeatty"><img src="img/icons/instagram.png" /></a></li>
				<li><a href="http://www.linkedin.com/pub/nate-beatty/78/533/a57"><img src="img/icons/linkedin.png" /></a></li>
				<li><a href="https://github.com/tnbeatty"><img src="img/icons/github.png" /></a></li>
				<li><a href="https://plus.google.com/+NateBeatty"><img src="img/icons/gplus.png" /></a></li>
				<li><a href="https://foursquare.com/tnbeatty"><img src="img/icons/4sq.png" /></a></li>
			</ul>
		</header>

	</div>

</div>

<footer>
	<div class="content-wrapper">
		<div class="content">
			<p>I build virtual reality tools with <a href="http://irisvr.com">Iris</a> and am always available for freelance development through <a href="http://lightwell3d.com">Lightwell</a>.</p>
			<p>Site created by Nate Beatty &lt;nate.beatty@gmail.com&gt;</p>
		</div>
	</div>
</footer>

<!-- Load Javascripts -->

<script src="js/ctrl.index.js"></script>