{{> splash }}

{{> portfolio }}

<!-- {{> resume }} -->

<footer class="footer">
	<div class="content-wrapper">
		<div class="content">
			<p>I currently build virtual reality tools with <a href="http://irisvr.com">Iris</a> and am always available for freelance development through <a href="http://lightwell3d.com">Lightwell</a>, a 3D visualization, web design, and branding studio based in Vermont.</p>
			<p>Site created by Nate Beatty &lt;nate.beatty@gmail.com&gt;</p>
		</div>
	</div>
</footer>

<!-- Load Javascripts -->

<script src="js/ctrl.index.js"></script>