/*
* styles.scss, styles.css
*
* Written by Nate Beatty 
* June 2013
*
* This file contains any custom styling unaffiliated
* with Zurb Foundation or other third party stylesheets.
* CSS classes and ID's have `tnb` prefix to prevent conflicts.
*/
/* global */
/* line 16, ../sass/styles.scss */
#tnb_profile {
  text-align: center;
}
/* line 18, ../sass/styles.scss */
#tnb_profile #tnb_header {
  height: 250px;
  background: url(/assets/img/header.jpg) no-repeat center;
}
/* line 22, ../sass/styles.scss */
#tnb_profile #tnb_pic {
  margin: -75px auto 0px auto;
  width: 150px;
  height: 150px;
  border: 4px white solid;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background: url(/assets/img/profile.jpg) no-repeat;
  background-size: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* line 41, ../sass/styles.scss */
#tnb_menu i {
  font-size: 1.25em;
}
/* line 44, ../sass/styles.scss */
#tnb_menu li {
  display: inline-block;
  float: none;
}

/* line 50, ../sass/styles.scss */
footer {
  padding-bottom: 10px;
  color: #888888;
}
/* line 54, ../sass/styles.scss */
footer #tnb_footer_left a {
  color: #888888;
  border-bottom: dashed 1px;
}
/* line 58, ../sass/styles.scss */
footer #tnb_footer_left a:hover {
  color: #7b7b7b;
  border-bottom: dashed 1px;
}
/* line 64, ../sass/styles.scss */
footer #tnb_footer_right li {
  float: right;
}

/* index */
/* line 72, ../sass/styles.scss */
#container {
  margin: 20px auto;
}
/* line 75, ../sass/styles.scss */
#container span .left {
  float: left;
}
/* line 78, ../sass/styles.scss */
#container span .right {
  float: right;
}
/* line 82, ../sass/styles.scss */
#container .postlist-item {
  width: 250px;
  padding: 0px 20px;
}
/* line 83, ../sass/styles.scss */
#container .postlist-item h3, #container .postlist-item h4 {
  font-variant: small-caps;
}
/* line 88, ../sass/styles.scss */
#container .postlist-item hr {
  border: 2px solid;
  margin: 10px 0px;
}
/* line 92, ../sass/styles.scss */
#container .postlist-item .symbol {
  font-family: serif;
}
/* line 97, ../sass/styles.scss */
#container .postlist-category-code h1, #container .postlist-category-code h2, #container .postlist-category-code h3, #container .postlist-category-code h4, #container .postlist-category-code h5, #container .postlist-category-code h6 {
  color: #17303f;
}
/* line 100, ../sass/styles.scss */
#container .postlist-category-code hr {
  border-color: #17303f;
}
/* line 105, ../sass/styles.scss */
#container .postlist-category-life h1, #container .postlist-category-life h2, #container .postlist-category-life h3, #container .postlist-category-life h4, #container .postlist-category-life h5, #container .postlist-category-life h6 {
  color: #6c0708;
}
/* line 108, ../sass/styles.scss */
#container .postlist-category-life hr {
  border-color: #6c0708;
}
/* line 113, ../sass/styles.scss */
#container .postlist-category-physics h1, #container .postlist-category-physics h2, #container .postlist-category-physics h3, #container .postlist-category-physics h4, #container .postlist-category-physics h5, #container .postlist-category-physics h6 {
  color: #a78e54;
}
/* line 116, ../sass/styles.scss */
#container .postlist-category-physics hr {
  border-color: #a78e54;
}

/* about */
