<section class="contact-container">
	<header>
		<h1>Contact</h1>
	</header>

	<div class="pure-g-r reach-out">
		<div class="pure-u-1-3">
			<h1><i class="fa fa-mobile-phone fa-5x" title="Telephone"></i></h1>
		</div>
		<div class="pure-u-1-3">
			<h1><a href="mailto:nate.beatty@gmail.com"><i class="fa fa-envelope-o fa-5x" title="Email"></i></a></h1>
			<h2><a href="mailto:nate.beatty@gmail.com">nate.beatty@gmail.com</a></h2>
		</div>
		<div class="pure-u-1-3">
			<h1><a href="https://plus.google.com/+NateBeatty"><i class="fa fa-google-plus fa-5x" title="Google Plus"></i></a></h1>
			<h2><a href="https://plus.google.com/+NateBeatty">+NateBeatty</a></h2>
		</div>
	</div>

	<nav class="sectionnav">
		<a href="#" class="navbutton" tnb-dest="footer"><i class="fa fa-angle-down fa-4x" title="More Information"></i></a>
	</nav>
</section>