<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{ site.name }} | {{ page.title }}</title>


	<link rel="stylesheet" href="stylesheets/app.css" />
	<link rel="stylesheet" href="stylesheets/social_foundicons.css">
	<link rel="stylesheet" href="stylesheets/styles.css" />

	<script src="assets/js/vendor/custom.modernizr.js"></script>

</head>
<body>

	<div class="row">
		<div class="large-4 columns" id="tnb_profile">
			<div id="tnb_header"></div>
			<div id="tnb_pic"></div>
			<h3><a href="/">@tnbeatty</a></h3>
			<ul class="inline-list" id="tnb_menu">
				<li><a href="https://github.com/tnbeatty"><i class="foundicon-github"></i></a></li>
				<li><a href="https://www.facebook.com/tnbeatty"><i class="foundicon-facebook"></i></a></li>
				<li><a href="https://twitter.com/tnbeatty"><i class="foundicon-twitter"></i></a></li>
				<li><a href=""><i class="foundicon-rss"></i></a></li>
			</ul>
			<p>Bacon kielbasa doner andouille. Sausage fatback pork loin cow ground round frankfurter ball tip tongue drumstick corned beef swine bacon venison. Spare ribs turkey doner sirloin.</p>
			<ul class="inline-list" id="tnb_menu">
				<li><a href="">physics</a></li>
				<li><a href="">code</a></li>
				<li><a href="">life</a></li>
			</ul>
		</div>

		<div class="large-8 columns">
			<div class="row">
				<div class="large-12 columns">

					{{ content }}

				</div>
			</div>
		</div>

		<footer>
			<div class="large-12 columns">
				<hr>
				<div class="large-6 columns" id="tnb_footer_left">
					<p>Made from scratch by <a href="mailto:nate.beatty@gmail.com">Nate Beatty</a>. Based on a design by Matt </p>
				</div>
				<div class="large-6 columns" id="tnb_footer_right">
					
				</div>
			</div>
		</footer>
	</div>

	{% include scripts.html %}

</body>
</html>
