<!DOCTYPE html>
<!-- Internet explorer Hacks--><!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>Nate Beatty | {{ title }}</title>
	
	<link href='css/styles.css' rel='stylesheet' type='text/css'>

	<!-- Load jQuery CDN with local fallback -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<script>
		if (!window.jQuery) {
			document.write('<script src="js/jquery-1.10.2.min.js"><\/script>');
		}
	</script>
	
</head>
<body>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-36134872-1', 'natebeatty.com');
		ga('send', 'pageview');

	</script>

	<a id="top" class="top"></a>

	{{> body }}

	<footer class="footer">
		<div class="content-wrapper">
			<div class="content">
				<p>I currently build virtual reality tools with <a href="http://irisvr.com">Iris</a> and am always available for freelance development through <a href="http://lightwell3d.com">Lightwell</a>, a 3D visualization, web design, and branding studio based in Vermont.</p>
				<p>Site created by Nate Beatty &lt;nate.beatty@gmail.com&gt;</p>
			</div>
		</div>

		<nav class="sectionnav">
			<a href="#" class="navbutton" tnb-dest="top"><i class="fa fa-angle-up fa-4x" title="More Information"></i><br>Back to the Top</a><br>
		</nav>
	</footer>

</body>
</html>